[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
transaction-isolation=REPEATABLE-READ
sql_mode=
max-connections=100
expire_logs_days=5

general_log=1
general_log_file=/var/log/mysql/general.log

slow_query_log=1
long_query_time=2
slow_query_log_file=/var/log/mysql/slow-query.log

# error log
log-error=/var/log/mysql/error.log

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8mb4
